@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700');

@import url('http://fonts.googleapis.com/css?family=Roboto:900,700,300italic,300');
/* -------------------------
 * COLORS */
/* -------------------------
 * WIDTHS */
/* -------------------------
 * PADDINGS */
@font-face {
  font-family: 'DINComp';
  src: url('../fonts/DINWeb.woff') format('woff');
}
/* -----------
 * HEADINGS */
h1,
h2,
h3,
h4,
h5,
.time {
  font-family: "DINComp", sans-serif;
}
h1 {
  font-size: 3em !important;
  font-weight: 700;
  margin: 0 !important;
}
h2 {
  color: #e3b709;
  border-bottom: 1px solid #e3b709;
}
h3 {
  font-size: 1.3em !important;
  margin-bottom: 0 !important;
}
h4 {
  text-transform: uppercase;
  margin-bottom: 1px !important;
  margin-top: 20px !important;
  font-weight: 600;
  color: #e3b709 !important;
}
.time {
  color: #777;
  font-weight: 100;
  font-style: italic;
  font-size: .8em;
}
.light {
  font-weight: "thin" !important;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
/* -----------
 * BODY & PARAGRAPHS */
body {
  font: 14px "Roboto", sans-serif;
  font-weight: "light";
}
a {
  color: #5697d0;
  padding-bottom: 1px;
}
a:hover {
  color: #357ebd;
}
.justify {
  text-align: justify !important;
}
ul {
  padding-left: 18px !important;
  margin: 5px 0 !important;
}
ul li.no_bullet {
  list-style: none;
  margin: 0 0 5px -18px !important;
  text-family: 'DINComp', sans-serif;
  text-transform: uppercase;
  color: #555;
}
ul li.no_bullet span.level {
  background: #ccc;
  color: white;
  font-size: 81%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 2px 5px;
  margin: -10px 0 0 10px;
  display: inline-block;
}
.smaller {
  font-size: 80%;
  font-weight: 100;
}
.headline {
  display: inline-block;
  margin: 0 0 10px 0;
  width: 100%;
}
.headline .title {
  padding-left: 25px;
  width: 75% !important;
}
/* -----------
 * NAVIGATION */
nav {
  font-family: 'DINComp', sans-serif;
  text-transform: uppercase;
}
nav .navbar-brand {
  text-transform: none;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #e3b709 !important;
  border-top: 5px solid transparent;
  font-size: 2em;
}
nav .navbar-brand:hover {
  text-shadow: 0 0 0.1em #fbeaa3;
  color: #f2c309 !important;
}
.navbar {
  background: white;
  border: none;
}
.navbar .navbar-toggle {
  border: none;
  background: none !important;
}
.navbar .navbar-toggle:hover {
  border: none;
  background-color: none !important;
  color: #666;
}
.navbar .navbar-default .navbar-toggle:hover,
.navbar .navbar-default .navbar-toggle:focus,
.navbar .navbar-default .navbar-toggle .icon-bar {
  background-color: none !important;
}
.navbar .container-fluid {
  max-width: 950px;
  padding: 0 10px 5px 10px;
  border-bottom: 1px solid #e7e7e7;
}
#nav-spacer {
  height: 50px;
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav .active > a {
    color: #666;
    border-top: 5px solid #fae386;
    text-shadow: 0 0 0.05em #d9d9d9;
  }
  .navbar-default .navbar-nav .active > a:hover {
    color: black;
    border-top: 5px solid #f6ca1a;
  }
  .navbar-default .navbar-nav li > a {
    padding: 15px 4px 5px 4px;
    margin-left: 20px;
    background: none !important;
    border-top: 5px solid transparent;
    color: #ccc;
  }
  .navbar-default .navbar-nav li > a:hover {
    color: black;
    border-top: 5px solid #f6ca1a;
  }
}
@media (max-width: 768px) {
  .navbar-default .navbar-nav .active > a {
    background: #fef7de;
    color: #666;
  }
  .navbar-default .navbar-nav .active > a:hover {
    color: black;
    background: #fdf2c6;
  }
  .navbar-default .navbar-nav li > a {
    padding: 5px 5px 5px 10px;
    margin: 5px 0px;
    background: none;
    color: #ccc;
  }
  .navbar-default .navbar-nav li > a:hover {
    background: #fdf2c6;
    color: black;
  }
}
body {
  overflow-y: scroll;
  font: Helvetica 14px;
  font-weight: 200;
}
img {
  max-width: 100%;
  border: 1px solid #eee !important;
  margin: 10px 0px;
}
.circle {
  height: 150px;
  width: 150px;
  border: 1px solid #eee;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
  padding: 0 !important;
  margin: auto !important;
}
.circle img {
  max-width: none;
  border: none !important;
  max-height: 150px;
  padding: 0 !important;
  margin: 0 !important;
}
.circle.small {
  height: 75px;
  width: 75px;
}
.circle.small img {
  max-height: 75px;
}
#content {
  max-width: 1000px;
  margin: auto;
  padding: 40px 30px;
}
#content #main-content {
  padding-bottom: 25px;
}
@media (min-width: 992px) {
  #content #main-content {
    padding-right: 25px;
  }
}
#content #side-bar {
  padding: 25px 0 25px 40px;
  margin: auto !important;
}
#content #side-bar ul {
  padding: 0 !important;
}
#content #side-bar .contact {
  display: block;
  width: 100%;
}
#content #side-bar .headlines {
  display: block;
  width: 100%;
  border-top: 1px solid #eee;
}
#content #side-bar .headlines .headline {
  margin: 10px 0;
}
#content #side-bar .headlines .headline .title {
  font-family: 'DINComp';
  line-height: 16px !important;
  font-size: 15px;
  width: 100% !important;
  padding: 0 !important;
}
@media (min-width: 992px) {
  #content #side-bar {
    border-left: 1px solid #eee;
  }
  #content #side-bar .circle {
    margin: -10px auto 25px auto !important;
  }
  #content #side-bar .contact-info {
    margin: auto;
  }
}
@media (max-width: 992px) {
  #content #side-bar {
    margin-top: 30px;
    border-top: 1px solid #eee;
  }
  #content #side-bar .circle {
    float: left;
    margin: 25px 25px 0 0 !important;
  }
  #content #side-bar .contact-info {
    float: left;
  }
}
.space {
  display: block;
  height: 20px;
}
