.simple-nav {
	padding-top: 8px;
	&.active a {
		padding-bottom: 1px;
		margin-bottom:  -1px;
		border-bottom: 1px solid fade(@blue-dark, 40%) !important;
		text-decoration: none !important;
	}
	&.brand {
		background: @blue;
		&:hover {
			background: @blue-dark !important;
		}

		display: inline-block;
		line-height: 1.5em;
		padding: 8px 10px;
		margin: 15px -10px;
		color: white !important;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}