.simple-nav {
	padding-top: 8px;
	&.active a {
		// color: @blue-dark !important;
		text-decoration: underline ;
		font-style: italic;
	}
	&.brand {
		background: @blue;
		// font-style: italic;
		&:hover {
			background: @blue-dark !important;
		}

		display: inline-block;
		line-height: 1.5em;
		padding: 8px 10px;
		margin: 15px -10px;
		color: white !important;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}