@import '/base/fonts';
@import '/base/variables';
@import '/base/typography';
@import '/base/mixins';
@import '/base/highlightjs';
@import '/base/table';

@import '/includes/nav';
@import '/includes/jumbotron';

body {
	overflow-y: scroll;
	font: Helvetica 14px;
	font-weight: 200;
}

img {
	max-width: 100%;
	border: 1px solid #eee !important;
}

.circle {
	height: 150px;
	width: 150px;
	border: 1px solid #eee;
	.border-radius(150px);
	overflow: hidden;
	padding: 0 !important;
	margin: auto !important;

	img {
		max-width: none;
		border: none !important;
		max-height: 150px;
		padding: 0 !important;
		margin: 0 !important;
	}

	&.small {
		height: 75px;
		width: 75px;

		img {
			max-height: 75px;
		}

	}

}

#content {
	max-width: @width-1;
	margin: auto;
	padding: 40px @padding-1;

	#main-content {
		padding-bottom: 25px;

		@media (min-width: 992px) {
			padding-right: 25px;
		}
	}

	#side-bar {
		padding: 25px 0 25px 40px;
		margin: auto !important;

		ul {
			padding: 0 !important;
		}

		.contact {
			display: block;
			width: 100%;
		}

		.headlines {
			display: block;
			width: 100%;
			border-top: 1px solid #eee;

			.headline {
				margin: 10px 0;

				.title {
					font-family: 'Sentinel';
					// line-height: 16px !important;
					font-size: 16px;
					width: 100% !important;
					padding: 0 !important;
				}
			}
		}

		@media (min-width: 992px) {
			border-left: 1px solid #eee;

			.circle {
				margin: -10px auto 25px auto !important;
			}

			.contact-info {
				margin: auto;
			}
		}

		@media (max-width: 992px) {
			margin-top: 30px;

			.circle {
				float: left;
				margin: 25px 25px 0 0 !important;
			}

			.contact-info {
				float: left;
			}
		}
	}
}

.space {
	display: block;
	height: 20px;
}

.alignright {
	float: right;
}


#wrapper {

	min-height:100%;
	position:relative;

	#footer {
		margin-top: 15px;
		padding: 5px;
		width:100%;
		border-top: 1px solid #eee;

		h4 {
			margin: 0 !important;
			text-align: center;
			font-size: 70%;
			font-weight: 100;
		}
	}

}