doctype 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7(lang="en")
//if IE 7
	html.no-js.lt-ie9.lt-ie8(lang="en")
//if IE 8
	html.no-js.lt-ie9(lang="en")
//if gt IE 8
	html.no-js(lang="en")
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title= getPreparedTitle()
	meta(name="description", content="")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	//Place favicon.ico and apple-touch-icon.png in the root directory
	!= getBlock('meta').add(site.meta).toHTML()
	!= getBlock("styles").add(site.styles).toHTML()
	script(src="js/vendor/modernizr-2.6.2.min.js")