<h2 id="interests">Interests</h2>
<p>An abridged list of things I want to learn more about and related links to interesting articles, essays, and studies on those topics. You can find a more long-form set of links <a href="../pages/links">here</a>.</p>
<ul>
<li>Cryptography, stenography, &amp; information theory<ul>
<li><a href="http://people.csail.mit.edu/rivest/pubs/Riv12d.slides.pdf">An abridged history</a></li>
</ul>
</li>
<li>Health, nutrition, &amp; fitness</li>
<li><a href="http://www.synbioproject.org/topics/synbio101/definition/">Synthetic biology</a>, particularly with regard to applications with:<ul>
<li><a href="http://faculty.mville.edu/ParikhS/courses/chm3049/articles/Defossiling%20Fuel%20-%20How%20Synthetic%20Biology%20Can%20Transform%20Biofuel%20Production.pdf">Bio fuels</a></li>
<li>Transhumanism and the idea that humanity is a &quot;work in progress&quot;</li>
</ul>
</li>
<li><a href="http://en.wikipedia.org/wiki/Geoengineering">Geo-engineering</a></li>
<li>Linguistics<ul>
<li>The history of language</li>
<li>Natural language processing</li>
</ul>
</li>
<li>Psychology<ul>
<li>Rationality and biases</li>
<li>Group and organizational</li>
</ul>
</li>
<li>Artificial intelligence<ul>
<li><a href="http://wiki.lesswrong.com/wiki/Friendly_artificial_intelligence">Friendly AI</a> and the <a href="http://lesswrong.com/lw/43v/the_urgent_metaethics_of_friendly_artificial/">urgency of meta-ethics</a></li>
<li>Comparisons &amp; parallels to human cognition</li>
</ul>
</li>
<li>Ethics &amp; Meta Ethics<ul>
<li>Deontological</li>
<li>Consequentialism, especially utilitarianism<ul>
<li>Vegetarianism &amp; veganism</li>
</ul>
</li>
</ul>
</li>
<li>Economics (as traditionally applied to the economy as well as all other facets of social interaction)</li>
</ul>
