<h2 id="other-things-that-i-like">Other things that I like</h2>
<ul>
<li>An <strong>aptronym</strong> is a name aptly suited to its owner. A few of my favorite <a href="http://en.wikipedia.org/wiki/Aptronym#Notable_examples">notable examples</a>:<ul>
<li>Sara Blizzard, meteorologist</li>
<li>John Carbon, American organic chemist</li>
<li>Bernie Madoff, who <em>made off</em> with a lot of other people&#39;s money</li>
<li>Marina Stepanova, former Soviet hurdler, first woman to run under 53 seconds in the 400 m hurdles</li>
</ul>
</li>
<li>Triathlons, especially coastal ones</li>
<li><a href="./posts/workflow-optimizations-customizations">Workflow optimization</a>-- I probably spend more time optimizing my workflow than I actually save.</li>
</ul>
