<h2>Misc Tools</h2>

<ul>
<li>Batch converting <code>.erb</code> files to <code>.slim</code> (requires <code>erb2slim</code> and <code>html2slim</code> gems) by recursing through all sub-directories:</li>
</ul>

<div class="highlight"><pre lang="shell">$ for f in <strong>/*.erb; do erb2slim $f ${f/.erb/.slim}; done
$ rm </strong>/*.erb
</pre></div>

<ul>
<li>A Ruby script to pretty-print 2D arrays:</li>
</ul>

<div class="highlight"><pre lang="ruby">require &#39;colorize&#39;

def print_table(table, with_header = true)
  # Calculate widths
  widths = []
  table.each do |line|
    line.each_with_index do |col, c|
      widths[c] = (widths[c] &amp;&amp; widths[c] &gt; col.length) ? widths[c] : col.length
    end
  end
  # Indent the last column left.
  last = widths.pop()
  format = widths.collect { |n| &quot;%-#{n}s&quot; }.join(&quot;  |   &quot;.black) + &quot;  #{&#39;|&#39;.black}  %-#{last}s\n&quot;
  table.each_with_index do |line, i|
    if i == 0 &amp;&amp; with_header
      printf(format.black, <em>line)
    else
      printf(format, </em>line)
    end
  end
end
</pre></div>

<p>Given a two-dimensional array, <code>print_table</code> pretty prints a table that looks a bit like this:</p>

<p><img src="https://cloud.githubusercontent.com/assets/6979755/9891532/af277164-5bbb-11e5-8456-89fc69e2fdb7.png" alt="" title="" /></p>

<ul>
<li><p><a href="https://chrome.google.com/webstore/detail/json-formatter/bcjindcccaagfpapjjmafapmmgkkhgoa?hl=en">JSON Formatter</a> enables syntax highlighting and collapsible trees with indent guides when working with raw JSON in your browser. One of my favorite features is that holding down <code>cmd</code> while collapsing a subtree collapses all of its siblings, too.</p>

<div class='space'></div>

<p><img src="../../assets/workflow-optimizations-customizations/json-formatter-example.webp" alt="" title="" /></p></li>
</ul>