<p><img src="https://s-media-cache-ak0.pinimg.com/originals/e6/7d/6f/e67d6f8cb1fc7e07205b832ad25180f7.jpg" alt=""></p>

<p>I&#39;m a huge sucker for workflow customization and optimization. I like to tell myself that I&#39;m saving myself time and headaches in the long run, but the reality is I spend more time optimizing my work flow than I actually end up saving from it. But it&#39;s fun, and it&#39;s even more fun to share my customizations with other people!</p>

<h2 id="posts">Posts</h2>

<p>I&#39;ve written several posts about my programming and writing workflow through terminal customizations, Sublime preferences, syntax-specific settings, and so on, including:</p>