<h2 id="misc">Misc</h2>

<ul>
<li>Batch converting <code>.erb</code> files to <code>.slim</code> (requires erb2slim and html2slim gems) by recursing through all sub-directories:</li>
</ul>

<pre class="highlight"><code class="hljs bash">$ <span class="hljs-keyword">for</span> f <span class="hljs-keyword">in</span> **/*.erb; <span class="hljs-keyword">do</span> erb2slim <span class="hljs-variable">$f</span> <span class="hljs-variable">${f/\.erb/.slim}</span>; <span class="hljs-keyword">done</span>
$ rm **/*/erb
</code></pre>

<h2 id="other-tools-i-recommend">Other Tools I recommend</h2>

<ul>
<li><p><a href="http://docs.emmet.io/">Emmet.io</a> is a toolkit that allows you to expand css-like abbreviations to markup. For example, when you press <code>TAB</code> it dynamically parses this...:</p>
<pre class="highlight"><code class="hljs smalltalk">  ul<span class="hljs-symbol">#nav</span>&gt;li.items<span class="hljs-char">$*</span><span class="hljs-number">4</span>&gt;a{<span class="hljs-class">Item</span> <span class="hljs-char">$}</span>
</code></pre>
<p>  ... to the following:</p>
<pre class="highlight"><code class="hljs xml">  <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"nav"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"items1"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>Item 1<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"items2"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>Item 2<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"items3"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>Item 3<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"items4"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>Item 4<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
</code></pre>
</li>
<li><p><a href="https://chrome.google.com/webstore/detail/json-formatter/bcjindcccaagfpapjjmafapmmgkkhgoa?hl=en">JSON Formatter</a> enables syntax highlighting and collapsible trees with indent guides when working with raw JSON in your browser. One of my favorite features is that holding down <code>cmd</code> while collapsing a subtree collapses all of its siblings, too.</p>
<p><div class='space'></div>
<img src="https://lh6.googleusercontent.com/68vofGty-EmFi1WHH-y0IbwRXeJpKTg3eTZOjZQoZAhJ6vuY7cL0G6yJ0CsE5sooUtJkSbqwUbI=s1280-h800-e365-rw" alt=""></p>
</li>
</ul>