<h2 id="useful-key-bindings">Useful key bindings</h2>
<table>
<thead>
<tr>
<th><strong>Shortcut</strong></th>
<th><strong>Result</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>select, <code>cmd + g</code></td>
<td>Selects all instances of the originally selected text</td>
</tr>
<tr>
<td>select, <code>cmd + d</code></td>
<td>Similar to <code>cmd + g</code>, except it adds each following instance one at a time</td>
</tr>
<tr>
<td><code>cmd + f</code></td>
<td>search current document for string (or regex, if the <code>*</code> button to the left is toggled on)</td>
</tr>
<tr>
<td><code>cmd + shift + f</code></td>
<td>expanded find menu; find &amp; replace; advanced search, enabling you to specify what folders / types of files you wish to search</td>
</tr>
<tr>
<td><code>cmd + shift + i</code></td>
<td>Auto indents code (works better for languages like C++ or Ruby, which have block endings defined more than just whitespace)</td>
</tr>
<tr>
<td><code>ctrl + cmd + up/down arrow</code></td>
<td>Move current line(s) up/down</td>
</tr>
<tr>
<td><code>cmd + shift + d</code></td>
<td>Duplicate current line(s)</td>
</tr>
<tr>
<td><code>cmd + x</code></td>
<td>Cut current line(s)</td>
</tr>
<tr>
<td>hold <code>cmd</code> while selecting</td>
<td>Make multiple selections</td>
</tr>
<tr>
<td><code>opt + drag cursor</code></td>
<td>Make multiple selections (alternate)</td>
</tr>
<tr>
<td><code>cmd + k + 1</code></td>
<td>Fold 1st layer of code (replace <code>1</code> with <code>2, 3, ...</code> to fold 2nd, 3rd, ... layers)</td>
</tr>
</tbody>
</table>
