<h2 id="useful-packages">Useful packages</h2>
<p><em>You can download a <code>.zip</code> containing all of the packages mentioned below <a href="../assets/my-sublime-setup/packages.zip">here</a>.</em></p>
<video src='../assets/my-sublime-setup/alignment.mov' style='width: 200px; margin: 20px; float: right' autobuffer='autobuffer' autoplay loop></video>

<h4 id="alignment">Alignment</h4>
<p>The easiest way to single-handedly make a block of code more readable is to align its contents, whether it&#39;s the values of a hash or the equals signs initializing a handful of variables at the beginning of a method. However, it&#39;s a pain the butt (and frankly not worth the time) to manually go through line-by-line adding the right spacing. With the Sublime alignment package, you can simply select the parts of the lines you want to be aligned and hold down <code>cmd + ctrl + a</code> to achieve the same result. (In the short recorded example to the right, I held down the <code>opt</code> button while dragging my mouse along the beginning of each line to select the relevant lines even faster.)</p>
<p>Thanks to <a href="https://twitter.com/backus">John Backus</a> for sharing this package with me.</p>
<h4 id="all-autocomplete">All Autocomplete</h4>
<p>Extends Sublime&#39;s autocompletion to find matches in all open files.</p>
<h4 id="autospell">AutoSpell</h4>
<p>Auto-replaces obvious spelling mistakes in <code>.md</code> and <code>.txt</code> files.</p>
<h4 id="bracket-highlighter">Bracket Highlighter</h4>
<p>Highlights or underlines the innermost brackets of the code you&#39;re currently editing. You can see it in action in the alignment video above.</p>
<h4 id="filediffs">FileDiffs</h4>
<p>Enables you to run quick diffs between any combination of open tabs, your clipboard, and files from the current project.</p>
<h4 id="fold-comments">Fold Comments</h4>
<p>Quickly fold all comments in the current document.</p>
<p><img src='../assets/my-sublime-setup/gitgutter-ex.png' style='float: right; width: 340px; margin: 20px'/></p>
<h4 id="gitgutter">GitGutter</h4>
<p>Small, unobtrusive symbols to the left gutter of Sublime indicate the lines&#39; git status (if you are in a git repository).</p>
<h4 id="origami">Origami</h4>
<p>Allows you to split Sublime into panes however you like with simple keyboard shortcuts. You can find my custom key bindings below, which include extensions to Origami&#39;s default shortcuts.</p>
<h4 id="package-resource-viewer">Package Resource Viewer</h4>
<p>Enables quick viewing and editing of all your packages. It&#39;s a bit shocking that this doesn&#39;t come with Sublime by default; without this, you have to manually go through the bowels of your file system to find any <code>.tmLanguage</code>, <code>.sublime-package</code>, etc. files that you wanted to edit. In contrast, this plugin gives you fuzzy search over all of these packages directly from Sublime. In short –– it&#39;s great!</p>
<h4 id="ruby-markers">Ruby Markers</h4>
<p>Executes Ruby code and updates <code># =&gt;</code> markers with the results. This one is particularly useful for demoing features of the language or testing the output of little scripts as you write them. If you&#39;ve ever seen <a href="http://www.rubytapas.com/">Ruby Tapas</a> (and if you haven&#39;t, you should!!!!), Avdi uses <code>xmpfilter</code> and <code>rcodetools</code> with Emacs to get this same behavior for his mini tutorials.</p>
<p><img src='../assets/my-sublime-setup/ruby-markers.gif' style='margin: 10px; width: 95%'/></p>
<p>Note that you may have to change the package settings from <code>&quot;ruby_manager&quot;: &quot;auto&quot;</code> to <code>&quot;ruby_manager&quot;: &quot;rvm&quot;</code> in order to get this to work.</p>
<p>Thanks to <a href="https://twitter.com/backus">John Backus</a> for sharing this package with me.</p>
<h4 id="schemr-themr">Schemr &amp; Themr</h4>
<p>These two packages enable you to quickly cycle through color schemes and themes (respectively) from any file rather than having to open your preferences file, manually update their file paths, switch back to your original open file to see the changes, and repeat each time you want to test out a new style. These packages aren&#39;t so critical for long-term use (I haven&#39;t changed my theme in months, and I don&#39;t plan on doing so in the near future), but they are really nice when you are first setting up your coding environment.</p>
