<h2>My theme &amp; color scheme</h2>

<p>A Sublime color scheme defines the syntax highlighting and canvas color of your editor, while a theme defines the styling of the sidebars, tabs, and find-and-replace menu.</p>

<h4>Pisco Sour color scheme</h4>

<ul>
<li>You can download my Pisco Sour color scheme <a href="(../assets/my-sublime-setup/pisco-sour.tmTheme">here</a>.</li>
<li>I created this theme with <a href="http://tmtheme-editor.herokuapp.com">tmTheme Editor</a>. Feel free to use or update my theme however you want.</li>
</ul>

<h4>Spaceblack theme</h4>

<ul>
<li>You can download the Spaceblack theme <a href="(../assets/my-sublime-setup/Spaceblack.sublime-theme">here</a>.</li>
</ul>

<h4>Screenshots</h4>

<p>Here are a few screenshots of my Sublime setup:</p>

<p>| <strong>Multimarkdown</strong> | <strong>Python</strong>  |<br />| :---:             | :---:       |<br />| <img src="../assets/my-sublime-setup/md-sample.png" alt="" title="" /> | <img src="../assets/my-sublime-setup/py-sample.png" alt="" title="" /> |<br />| <strong>Ruby</strong>          | <strong>Haskell</strong> |<br />| <img src="../assets/my-sublime-setup/rb-sample.png" alt="" title="" /> | <img src="../assets/my-sublime-setup/hs-sample.png" alt="" title="" /> |</p>