<h2>My User Preferences files</h2>

<p>Sublime User Preferences files are where you define your color scheme, theme, and a variety of other customizations like line padding, minimap toggling, and line highlighting. You can find your <code>/User/Preferences.sublime-settings</code> file by pressing <code>cmd + /</code> or by going up to the <strong>Sublime Text &gt; Preferences &gt; Settings – User</strong> menu. Here is my User Preferences file:</p>

<script src="https://gist.github.com/devonzuegel/814f072e819d83873932.js"></script>

<p>Sublime allows allows you to define language-specific user preferences. This particularly comes in handy for Markdown and plain-text editing, since they are so different from programming-centric uses of Sublime. For instance, I prefer not to have lines wrap around while I&#39;m programming, but I can&#39;t live without it while working with real paragraphs rather than concise lines of code that are &lt; 80 characters long. Also, I prefer my code-left-aligned, while I like having broad margins on either side of my text while writing.</p>

<p>To access and edit language-specific preference files, go to <strong>Sublime Text &gt; Preferences &gt; Package Settings &gt; Markdown Editing &gt; MultiMarkdown Settings –– User</strong> (replacing &quot;Markdown Editing&quot; and &quot;Multimarkdown Settings –– User&quot; with the language with which you&#39;re working).</p>

<script src="https://gist.github.com/devonzuegel/a5d84bef5bdfc03008b9.js"></script>