pre {
	padding: 0px;
}

.highlight {
	background: none;
	border: none;
}

.hljs {
	border-radius: 4px;
}

.gist .gist-file {
	border: none !important;
}

.gist .highlight, .gist .highlight * {
    font-family: 'Inconsolata XL';
    background-color: white !important;
}
table tr {
    border: none !important;
}
.gist .gist-data {
    border: 1px solid #eee;
}
