@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700');
@import url('http://fonts.googleapis.com/css?family=Roboto:900,700,300italic,300');

@font-face {
    font-family: 'DINComp';
    src: url('../fonts/DINWeb.woff') format('woff');
}


/* -----------
 * HEADINGS */

h1, h2, h3, h4, h5, .time {
	font-family: "DINComp", sans-serif;
}

h1 {
	font-size: 3em !important;
	font-weight: 700;
	margin-top: 0 !important;
}

h2 {
	color: @yellow-dark;
	border-bottom: 1px solid @yellow-dark;
}

h3 {
	font-size: 1.3em !important;
	margin-bottom: 0 !important;
}

h4 {
	text-transform: uppercase;
	margin-bottom: 1px !important;
	margin-top: 20px !important;
	font-weight: 600;
	color: @yellow-dark !important;
}

.time {
	color: #777;
	font-weight: 100;
	font-style: italic;
	font-size: .8em;
	// margin-top: -2em;
}

.light {
	font-weight: "thin" !important;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}

/* -----------
 * BODY & PARAGRAPHS */
 
body {
	font: 14px "Roboto", sans-serif;
	font-weight: "light";
}

a {
	color: @blue;
	padding-bottom: 1px;

	&:hover {
		color: darken(@blue, 10%);
	}
}



ul {
	padding-left: 18px !important;
	margin: 5px 0 !important;

	li.no_bullet {
		list-style: none;
		margin: 0 0 5px -18px !important;

		text-family: 'DINComp', sans-serif;
		text-transform: uppercase;
		color: #555;

		span.level {
			background: #ccc;
			color: white;
			font-size: 81%;
			.border-radius(5px);

			padding: 2px 5px;
			margin: -10px 0 0 10px;
			display: inline-block;;
		}
	}
}

.smaller {
	font-size: 80%;
	font-weight: 100;
}
