@body-font: 						'PT Serif', serif;
@semibold-body-font: 		@body-font;
@italic-body-font: 			@body-font;
@bold-italic-body-font: @body-font;
@decorative-font: 			@body-font;
@monospace-font: 				'Roboto Mono', monospace;

.normal-line-height {
	line-height: 9em !important;
}

.paragr-line-height {
	line-height: 1.63em !important;
}

/* -----------
 * HEADINGS */
* {
	.font-smoothing();
	font-family: @body-font;
	font-weight: 100 !important;
	color: #444;
	font-size: 15px;
}

.git .highlight * {
	font-weight: 400 !important;
}

h2, h3, h4, h5, .time {
	font-family: @decorative-font;
}

h1 {
	font-size: 2.7em !important;
	margin: 0 !important;
	font-family: @semibold-body-font;
}

h2 {
	// color: @blue-dark;
	// border-bottom: 1px solid @blue-dark;
	// text-transform: uppercase;
	font-weight: 600 !important;
	font-size: 1.4em !important; //1em;
	font-weight: 600;
	margin-top: 0;

	a {
		font-weight: 600 !important;
		font-size: 1em !important; //1em;
		font-weight: 600;
	}
}

h3 {
	font-weight: 500 !important;
	font-family: @body-font;
	font-size: 1em !important; //1em !important;
	margin: 15px 0 5px 0 !important;

	.block {
		font-weight: 500 !important;
		font-family: @body-font;
		font-size: 1em !important; //16px;
		line-height: 1.53em;
	}

	a {
		font-family: @italic-body-font;
	}
}

h4 {
	// text-transform: uppercase;
	margin-bottom: 1px !important;
	margin-top: 20px !important;
	font-weight: 600;
	color: #bbb !important;
}

h5 {
	font-family: @bold-italic-body-font;
	font-size: 1em !important; //1.6em !important;
	margin: .6em 0 0 0 !important;
}

.time {
	color: #aaa;
	font-weight: 0.9;
	font-weight: 100;
	font-style: italic !important;
	font-size: 0.95em !important; //10pt;
	// text-transform: uppercase;
	float: left;
	margin: -3px 0 0 0;
}

.light {
	float: left;
	font-weight: 'thin' !important;
	font-size: 1em !important; //16px;
	margin-right: 16px;
}

/* -----------
 * BODY & PARAGRAPHS */

a, a em {
	color: @blue !important;
	padding-bottom: 1px;

	&:hover {
		color: darken(@blue, 10%) !important;
		padding-bottom: 1px;
		margin-bottom:  -1px;
		border-bottom: 1px solid fade(@blue-dark, 40%) !important;
		text-decoration: none !important;
	}
}

.justify {
	text-align: justify !important;
}

.no-bullet {
	list-style: none !important;
	padding-left: 0 !important;
}

ul, ol {
	padding-left: 18px !important;
	margin: 5px 0 !important;
	&:extend(.paragr-line-height);

	li.blue-upper {
		&:extend(.normal-line-height);
		margin: 0 0 5px -18px !important;

		font-family: @decorative-font;
		// text-transform: uppercase;
		color: #555;

		span.level {
			background: #ccc;
			color: white;
			font-size: 1em !important; //81%;
			.border-radius(5px);

			padding: 2px 5px;
			margin: -10px 0 0 10px;
			display: inline-block;;
		}
	}
}

.smaller {
	// &:extend(.normal-line-height);
	font-size: 1em !important; //90%;
	font-weight: 300;
}

.headline {
	display: inline-block;
	margin: 0 0 10px 0;
	width: 100%;

	.title {
		padding-left: 25px;
		width: 75% !important;

		h3 a {
			font-family: @body-font;
		}
	}
}

p {
	&:extend(.paragr-line-height);
	margin: 10px 0 20px 0;

	b {
		font-family: @body-font;
		font-weight: 900;
	}
}

blockquote {
	margin: 1em 15px !important;
	padding: 0px 20px !important;
	p {
		margin: 0;
	  color: #aaa !important;
	  font-style: italic !important;
	  font-weight: lighter !important;
	}
}