/* -------------------------
 * COLORS */

@color-1: #444;

@yellow: #F8d54B;
@yellow-dark: darken(@yellow, 17%);

@blue: lighten(#428bca, 5%);


/* -------------------------
 * WIDTHS */

@width-1: 1000px;


/* -------------------------
 * PADDINGS */

@padding-1: 30px;