/* -------------------------
 * COLORS */

@color-1: #444;

@yellow: #F8d54B;
@yellow-dark: darken(@yellow, 15%);

@blue: #428bca;


/* -------------------------
 * WIDTHS */

@width-1: 1000px;


/* -------------------------
 * PADDINGS */

@padding-1: 30px;